.breadcrumbs {
  margin-top: 100px;
  margin-bottom: 30px;
  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      display: flex;
      gap: 4px;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: $text-light-grey;
      &:last-child {
        color: $text-dark;
      }
      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }
    @media (max-width: $mobile) {
      flex-wrap: wrap;
    }
    @media (max-width: 360px) {
      gap: 5px;
    }
  }

  &__arrow {
    svg {
      path {
        stroke: #aaadb2;
      }
    }
    &:last-of-type {
      svg {
        path {
          stroke: #2e2d2d;
        }
      }
    }
  }
}
.checkbox-product {
  height: 0;
  width: 0;
  visibility: hidden;
}

.label-product {
  cursor: pointer;
  width: 46px;
  height: 24px;
  background: inherit;
  display: block;
  border-radius: 100px;
  position: relative;
  border: 1px solid $strock-light-mode;
}

.label-product:after {
  content: '';
  position: absolute;
  top: 3.2px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: $bg-total-dark;
  border-radius: 100%;
  transition: 0.3s;
}
@supports (-webkit-appearance: none) {
  .label-product:after {
    top: 3.2px; /* или любое другое значение, специфичное для Safari */
  }
}

.checkbox-product:checked + .label-product {
}

.checkbox-product:checked + .label-product:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
  background: $accent-red;
}

// .label-product:active:after {
//   width: 130px;
// }

/* Для Chrome, Safari и Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
