.breadcrumbs {
  margin-top: 100px;
  margin-bottom: 30px;
  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: $text-light-grey;
      &:last-child {
        color: $text-dark;
      }
    }
  }

  &__arrow {
    svg {
      path {
        stroke: #aaadb2;
      }
    }
    &:last-of-type {
      svg {
        path {
          stroke: #2e2d2d;
        }
      }
    }
  }
}
