.error {
  margin-top: 180px;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  @media (max-width: $mobile) {
    margin-top: 132px;
  }
  &.search-not {
    margin-top: 60px;
    @media (max-width: $tablet) {
      margin-top: 25px;
    }
    @media (max-width: $mobile) {
      margin-top: 100px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 123px;
    height: 100%;
    flex: 1;
    width: 100%;
  }

  &__content {
    width: 363px;
    text-align: center;
    @media (max-width: $mobile) {
      width: 288px;
    }
    &_search {
      max-width: 348px;
      @media (max-width: $tablet) {
        max-width: 283px;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  &__descition {
    margin-bottom: 50px;
    @media (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }

  &__btn {
    margin: 0 auto;
  }
  &__order {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: $text-dark;
    font-family: $inter500;
    margin-bottom: 40px;
    @media (max-width: $tablet) {
      margin-bottom: 30px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  &__decor {
    font-weight: 400;
    font-family: $noto;
    font-size: 249px;
    line-height: 77%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: $dark-mode-light-grey;
    opacity: 0.3;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    @media (max-width: $laptop) {
      left: 16px;
      font-size: 17.2vw;
    }
  }
}
