.footer {
  background: $bg-dark;
  padding: 36px 0px;
  position: relative;
  &__container {
  }

  &__top {
    display: flex;
    gap: 120px;
    margin-bottom: 62px;
    @media (max-width: $tablet) {
      margin-bottom: 50px;
    }
  }

  &__left {
    width: 295px;
    color: #717171;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__columns {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    @media (max-width: $mobile) {
      gap: 40px;
      flex-wrap: wrap;
      row-gap: 40px;
    }
  }

  &__column {
  }

  &__menu {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    color: #717171;
    margin-bottom: 24px;
  }

  &__item {
    &_not {
      .footer__link {
        &:hover {
          border: none;
        }
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $text-white;
    opacity: 0.8;
    transition: all 0.3s;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: -4px;
      width: 0%;
      height: 1px;
      min-height: 1px;
      max-height: 1px;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: $text-white;
      transition: all 0.3s;
    }
    @media (hover: hover) {
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }

  &__center {
    font-weight: 300;
    font-size: 58px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    color: $text-light-grey;
    font-family: $noto300;
    opacity: 0.5;
    margin-bottom: 62px;
    @media (max-width: $laptop) {
      font-size: 45px;
    }
    @media (max-width: 1200px) {
      font-size: 30px;
    }
    @media (max-width: $tablet) {
      margin-bottom: 50px;
      font-family: $noto;
      font-weight: 400;
    }
    @media (max-width: $mobile) {
      font-size: 24px;
    }
    @media (max-width: 390px) {
      font-size: 20px;
    }
  }

  &__adres {
    max-width: 174px;
    display: block;
    @media (max-width: $mobile) {
      max-width: 200px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    border-bottom: 1px solid $strock-dark-mode;
    border-top: 1px solid $strock-dark-mode;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: $text-light-grey;
      opacity: 0.8;
      &:nth-child(1) {
        order: 2;
      }
    }
    a {
      transition: all 0.2s;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: -4px;
        width: 0%;
        height: 1px;
        min-height: 1px;
        max-height: 1px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: $text-white;
        transition: all 0.3s;
      }
      @media (hover: hover) {
        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
      p {
        transition: all 0.2s;
        &:hover {
          opacity: 1;
        }
      }
    }

    @media (max-width: $mobile) {
      transform: translate(-15px, 0);
      width: 100vw;
      padding: 16px 0px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 16px;
    }
  }
}

.footer__item_not {
  .footer__link {
    &::before {
      display: none;
    }
  }
}

.mob-footer-1 {
  @media (max-width: $mobile) {
    order: 1;
  }
}
.mob-footer-2 {
  @media (max-width: $mobile) {
    order: 2;
  }
}
.mob-footer-3 {
  @media (max-width: $mobile) {
    order: 3;
  }
}

.to-top-footer {
  border: 1px solid $strock-light-mode;
  border-radius: 100px;
  padding: 15px;
  width: 50px;
  height: 50px;
  background: $bg-light;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 40px;
  top: -25px;
  display: none;
  transition: all 0.3s;
  cursor: pointer;
  &.active {
    display: flex;
  }
  svg {
    width: 20px;
    height: 20px;
  }
  @media (hover: hover) {
    &:hover {
      background: rgba(244, 244, 239, 0.3);
      border: 1px solid $strock-dark-mode;
    }
  }
}
