.filter-price {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.price-title {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  background: #d58e32;
  padding: 10px;
}

.price-container {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 5px;
}
.price-wrap-1,
.price-wrap-2 {
  flex: 0 1 50%;
  position: relative;
  input {
    width: 100%;
    background: $bg-white;
    padding: 13.5px 20px;
    border-radius: 300px;
    font-weight: 400;
    font-size: 14px;
    color: $text-grey;
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: $text-light-grey;
    }
    &:focus {
      padding: 20.5px 20px 6.5px 20px;
      &::placeholder {
        opacity: 0;
      }
    }
    @media (max-width: $mobile) {
      padding: 12px 20px;
    }
  }
}
.price-wrap-1 p {
  position: absolute;
  top: 6px;
  left: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: $text-light-grey;
}
.price-wrap-1 p {
  display: none; /* Скрываем текст по умолчанию */
}

.price-wrap-1:focus-within p {
  display: block; /* Показываем текст, когда есть фокус на инпуте */
}
.price-wrap-2 p {
  position: absolute;
  top: 6px;
  left: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: $text-light-grey;
}
.price-wrap-2 p {
  display: none; /* Скрываем текст по умолчанию */
}

.price-wrap-2:focus-within p {
  display: block; /* Показываем текст, когда есть фокус на инпуте */
}
.price-track {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px; /* Высота полоски */
  background: $accent-red;
  transform: translateY(-3px);
  z-index: 2;
  &.invalid {
    display: none;
  }
}

.price-field {
  position: relative;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 0px;
}

.price-field input[type='range'] {
  position: absolute;
}

/* Reset style for input range */

.price-field input[type='range'] {
  width: 100%;
  height: 2px;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
}

.price-field input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.price-field input[type='range']:active,
.price-field input[type='range']:focus {
  outline: 0;
}

.price-field input[type='range']::-ms-track {
  width: 188px;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: red;
  border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type='range']::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 300px;
  width: 32px;
  height: 16px;
  margin-top: -7px;
  background-color: $accent-red;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type='range']::-moz-range-thumb {
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 300px;
  width: 32px;
  height: 16px;
  margin-top: -5px;
  background-color: $accent-red;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type='range']::-ms-thumb {
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #eee;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

/* Style track input range */

.price-field input[type='range']::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #eee;
  border-radius: 5px;
}

.price-field input[type='range']::-moz-range-track {
  /* Firefox */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #eee;
  border-radius: 5px;
}

.price-field input[type='range']::-ms-track {
  /* IE */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #eee;
  border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
  display: flex;
  color: #eee;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 0px;
}

.price-wrap-1,
.price-wrap-2 {
  display: flex;
  margin-left: 0px;
}

.price-title {
  margin-right: 5px;
}

.price-wrap_line {
  margin: 6px 0px 5px 5px;
}

.price-wrap label {
  text-align: right;
  margin-top: 6px;
  padding-left: 5px;
}

.price-field-label {
  position: absolute;
  display: inline-block;
  font-size: 14px;
  text-align: right;
  color: $dark-mode-light-grey;
  text-align: right;
  top: -20px;
  width: 32px;
}
.price-field-label-upper {
  text-align: left;
}

/* Style for active state input */

// .price-field input[type='range']:hover::-webkit-slider-thumb {
//   box-shadow: 0 0 0 0.5px #eee;
//   transition-duration: 0.3s;
// }

// .price-field input[type='range']:active::-webkit-slider-thumb {
//   box-shadow: 0 0 0 0.5px #eee;
//   transition-duration: 0.3s;
// }
